{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="message-container">
        <div id="alert-1" class="message flex mx-auto mt-2 shadow-lg rounded-lg w-auto animate-slide-in">
          <div class="bg-green-600 py-3 px-4 rounded-l-lg flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-white fill-current" viewBox="0 0 16 16" width="20" height="20">
              <path fill-rule="evenodd"
                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
              </path>
            </svg>
          </div>
          <div class="bg-white rounded-r-lg w-full border-l-transparent border-gray-200">
            <div class="px-4 py-3 flex justify-between items-center">
              <div>{{ message }}</div>
              <button type="button" class="ml-1" onclick="dismissAlert('alert-1')">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-gray-700" viewBox="0 0 16 16" width="20"
                  height="20" style="vertical-align: middle;">
                  <path fill-rule="evenodd"
                    d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                  </path>
                </svg>
              </button>
            </div>
            <span id="loading-1" class="loading">
              <div class="line-box">
                <div class="line bg-green-600"></div>
              </div>
            </span>
          </div>
        </div>
        <script>
          setTimeout(function () {
            dismissAlert('alert-1');
          }, 4000);
        </script>
      </div>
    {% elif message.tags == 'error' %}
      <div class="message-container">
        <div id="alert-2" class="message flex mx-auto mt-2 shadow-lg rounded-lg w-auto animate-slide-in">
          <div class="bg-red-600 py-3 px-4 rounded-l-lg flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="fill-current text-white" width="20" height="20">
              <path fill-rule="evenodd"
                d="M4.47.22A.75.75 0 015 0h6a.75.75 0 01.53.22l4.25 4.25c.141.14.22.331.22.53v6a.75.75 0 01-.22.53l-4.25 4.25A.75.75 0 0111 16H5a.75.75 0 01-.53-.22L.22 11.53A.75.75 0 010 11V5a.75.75 0 01.22-.53L4.47.22zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5H5.31zM8 4a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 4zm0 8a1 1 0 100-2 1 1 0 000 2z">
              </path>
            </svg>
          </div>
          <div class="bg-white rounded-r-lg w-full border-l-transparent border-gray-200">
            <div class="px-4 py-3 flex justify-between items-center">
              <div>{{ message }}</div>
              <button type="button" class="ml-1" onclick="dismissAlert('alert-2')">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-gray-700" viewBox="0 0 16 16" width="20"
                  height="20" style="vertical-align: middle;">
                  <path fill-rule="evenodd"
                    d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                  </path>
                </svg>
              </button>
            </div>
            <span id="loading" class="loading">
              <div class="line-box">
                <div class="line bg-red-600"></div>
              </div>
            </span>
          </div>
        </div>
        <script>
          setTimeout(function () {
            dismissAlert('alert-2');
          }, 4000);
        </script>
      </div>
    {% elif message.tags == 'warning' %}
      <div class="message-container">
        <div id="alert-3" class="message flex mx-auto mt-2 shadow-lg rounded-lg w-auto animate-slide-in">
          <div class="bg-yellow-600 py-3 px-4 rounded-l-lg flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="fill-current text-white" width="20" height="20">
              <path fill-rule="evenodd"
                d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z">
              </path>
            </svg>
          </div>
          <div class="bg-white rounded-r-lg w-full border-l-transparent border-gray-200">
            <div class="px-4 py-3 flex justify-between items-center">
              <div>{{ message }}</div>
              <button type="button" class="ml-1" onclick="dismissAlert('alert-3')">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-gray-700" viewBox="0 0 16 16" width="20"
                  height="20" style="vertical-align: middle;">
                  <path fill-rule="evenodd"
                    d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                  </path>
                </svg>
              </button>
            </div>
            <span id="loading-3" class="loading">
              <div class="line-box">
                <div class="line bg-yellow-600"></div>
              </div>
            </span>
          </div>
        </div>
        <script>
          setTimeout(function () {
            dismissAlert('alert-3');
          }, 4000);
        </script>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<script>

function dismissAlert(alertId) {
    const alertElement = document.getElementById(alertId);
    alertElement.classList.add('animate-slide-out');
    alertElement.style.visibility = 'hidden';
  }

  function pauseLoadingAnimation(alertId) {
    const alertElement = document.getElementById(alertId);
    const loadingSpan = alertElement.querySelector('.loading');
    loadingSpan.classList.add('paused');
  }

  function resumeLoadingAnimation(alertId) {
    const alertElement = document.getElementById(alertId);
    const loadingSpan = alertElement.querySelector('.loading');
    loadingSpan.classList.remove('paused');
  }

  document.querySelectorAll('.message').forEach(alertElement => {
    const loadingSpan = alertElement.querySelector('.loading');
    const dismissButton = alertElement.querySelector('button');
    
    alertElement.addEventListener('mouseover', () => {
      loadingSpan.classList.add('paused');
    });
    
    alertElement.addEventListener('mouseout', () => {
      loadingSpan.classList.remove('paused');
    });
    
    dismissButton.addEventListener('click', () => {
      alertElement.style.visibility = 'hidden';
    });
  });

</script>

<style>
  .loading {
    width: 100%;
    height: auto;
    justify-content: end;
    align-items: end;
  }

  .loading .line-box .line {
    height: 4px;
    animation: loading 4s forwards cubic-bezier(0, 0, 0, 0);
  }

  /* .message:hover .line-box .line {
    animation-play-state: paused;
  } */

  @keyframes loading {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    to {
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out;
  }

  .animate-slide-out {
    animation: slide-out 0.5s ease-out;
  }

  .message-container {
    width: max-content;
    margin: 0 auto;
    min-width: 50%;
  }

  .message {
    width: max-content;
    min-width: 50%;
  }
</style>
